#kona-luu,
#apple,
#bagel,
#cheetos,
#doritos,
#emergenc,
#fritos,
#gatorade,
#dietHansen,
#hersheyscc,
#layssc,
#laysClassic,
#starbucksMochaFrap,
#nutellaBread {
  display: block;
  margin: 25px auto;
  border: 0;
}
