#konaluu,
#apple,
#bagel,
#cheetos,
#doritos,
#emergenc,
#fritos,
#gatorade,
#dietHansen,
#hersheyscc,
#layssc,
#laysClassic,
#starbucksMochaFrap,
#nutellaBread {
  display: block;
  margin: 25px auto;
  border: 0;
}

p {
  text-align: center;
}

table {
  padding: 0 2rem;
  margin: 1rem 0 2rem 0;
}

.button {
  width: 100%;
  margin: 0;
}

.callout {
  margin: 2rem 1rem;
}

.progress {
  margin: 0;
}

.top-bar {
  /*background-color: white;*/
  text-align: center;
}

.active-link {
  /*color: black;*/
  font-weight: bold;
}

#topBarTitle {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#martName {
  margin: .5rem auto;
  color: blue;
}

#shoppingCart {
  width: 50%;
  margin: 0 auto;
}

#purchaseButton {
  display: block;
  margin: 1.5rem auto;
  width: 50%;
}

#kona-luu, #chris-kim, #stanley-phu {
  width: 200px;
}

#aboutUs, #contactUs {
  margin: 1rem auto;
}
